body {
    background-color: #d2e2f2;
    font-family: Roboto, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}